import React, { FunctionComponent } from "react";
/* components */
/* modules */
import clsx from 'classnames';
/* helpers */
/* assets */
/* types */
import { {{properCase name}}ComponentProps } from './{{properCase name}}.types'
/* styles */
import s from './{{properCase name}}.module.scss'

export const {{properCase name}}: FunctionComponent<{{properCase name}}ComponentProps> = props => {
    const {className, ...restProps} = props;
    return <div className={clsx(s.box, className)}></div>;
    };