import React, { FunctionComponent } from "react";
import { {{properCase name}}ComponentProps } from './{{properCase name}}.types'
import s from './{{properCase name}}.module.scss'

export const {{properCase name}}: FunctionComponent<{{properCase name}}ComponentProps> = props => {
    return <div></div>;
    };