import React, { FunctionComponent } from "react";
/* components */
/* modules */
/* helpers */
/* assets */
/* types */
import { {{properCase name}}ComponentProps } from './{{properCase name}}.types'
/* styles */
import s from './{{properCase name}}.module.scss'

export const {{properCase name}}: FunctionComponent<{{properCase name}}ComponentProps> = props => {
    return <div className={s.box}></div>;
    };